<div class="add">
<form class="form-inline" (ngSubmit) = "onAddItem(name.value , title.value)">
  <div class="form-group">
    <input  class="form-control" autocomplete [config]="config2" placeholder ='Enter Book Name'  [items]="items2" (inputChangedEvent)="setKeySearch(name.value)"  #name>

  </div>
  <div class="form-group">
    <input  class="form-control" autocomplete [config]="configTitle" placeholder = 'Choice Description of Book' [items]="title2" #title>

  </div>
  <button type="submit" class="btn btn-danger">Add Book</button>
</form>
<hr>
<p>Note* : Open Dropdown was only click . </p>
<p>Please click affter enter book you want search. </p>
<hr>
<br></div>